<div class="container">
    <div class="row">
    	<div class="col-md-4">
            <button class="btn btn-primary btn-fullwidth" ng-click="sendMassMessage()">Send Mass Message</button>
            <ul class="">
    		  <li ng-repeat="unit in unitList"><input ng-show="sendMass" type="checkbox" ng-model="rList.selected[$index]" ng-change="updateList()"><button ng-disabled="sendMass" ng-click="select($index)" class="btn btn-default"> {{unit.get('name')}} <span class="badge">{{ unit.unreadLength }}</span></button></li>
            </ul>
    	</div>
    
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> {{chatTitle}}
                </div>
                <div class="panel-body" scroll-glue>
                    <ul class="chat">
                        <li ng-repeat="message in messages" ng-class="message.get('type') == 'incoming' ? 'left' : 'right'" class="clearfix"><span class="chat-img" ng-class="message.get('type') == 'incoming' ? 'pull-left' : 'pull-right'">
                            <img ng-src="{{message.url}}" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small ng-class="message.get('type') == 'incoming' ? 'pull-right' : ''" class="text-muted"><span class="glyphicon glyphicon-time"></span>{{message.friendlyTime}}</small>
                                    <strong ng-class="message.get('type') == 'incoming' ? 'pull-left' : 'pull-right'" class="primary-font">{{message.get('type') == 'incoming' ? selectedUnit.get("name") : 'Me' }}</strong>
                                </div>
                                <p>
                                    {{message.get('body')}}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." ng-model="newMessage"/>
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="sendMessage()">
                                Send</button>
                        </span>
                    </div>
                    Message length - {{newMessage.length}}
                </div>
            </div>
            
        </div>
    </div>
</div>