<p><a ng-click="goToPage('/properties')">All Properties</a></p>

Name: {{property.get('name')}} <br>
Address: {{property.get('address')}} <br>
Units: {{totalSum}}<br>
Notes: {{property.get('notes')}}<br>

<button ng-click="showForm()" class="btn btn-primary">New Building</button>
<div ng-show="formOpen" class="half-div">
	<input type="text" class="form-control" placeholder="Building Number" ng-model="buildingNumber">
	<input type="text" class="form-control" placeholder="Notes" ng-model="buildingNotes">
	<button class="btn btn-primary" ng-click="newUnit()">Add New Building</button>
</div>
<table class="table table-hover">
	<thead>
		<tr>
			<td>Building Number</td>
			<td>Number of Units</td>
			<td>Notes</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="building in buildingList">
			<td>{{building.get('Number')}}</td>
			<td>{{building.numUnits}}</td>
			<td>{{building.get('Notes')}}</td>
			<td><button class="btn btn-default btn-sm" ng-click="goToPage('/buildingdetail/' + building.id)">Details</button></td>
	</tbody>
</table>