
<div class="dashboard-holder">
	<div class="dash-row">
		<div class="dash-item dash-half">
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
				<input type="text" class="form-control" placeholder="Meter Reading" ng-model="unit.name"/>
			</div>
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
				<input type="text" class="form-control" placeholder="Meter Reading" ng-model="unit.phone"/>
			</div>
			<input type="checkbox" ng-model="unit.spanish" id="spanish" ng-change="changeLang()"/>
			<label for="spanish">Prefer Spanish</label>
			<br>
			<input type="checkbox" ng-model="unit.getmsg" id="getmsg" ng-change="changeLang()"/>
			<label for="getmsg">Gets Messages</label>
			<br>
			<input type="checkbox" ng-model="unit.smartphone" id="smartphone" ng-change="changeLang()"/>
			<label for="smartphone">Smartphone</label>
			<br>
			{{unit.address}}<br>
			{{unit.city}}, {{unit.state}} {{unit.zip}}
		</div>
		<div class="dash-item dash-half">
			<!-- <h6>Enter a new reading</h6>
			<form ng-submit="saveMeterRead()" class="form-inline">
				<div class="form-group">
					<div class="input-group home-input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-flash"></span></span>
						<input type="text" class="form-control" placeholder="Meter Reading" ng-model="meter_read"/>
					</div>

				</div>
				<button class="btn btn-primary">Submit</button>
			</form>  -->
		</div>
	
	</div>
	<div class="dash-row">
		<div class=" dash-item dash-full">
			<div style="width: 100%; text-align: right;">
			<span class="glyphicon glyphicon-refresh" ng-click="refreshReadings()" style="cursor: pointer;"></span>
				<span class="glyphicon glyphicon-th-list" ng-click="chartToggle()" style="cursor: pointer;" ng-show="chart"></span>
				<span class="glyphicon glyphicon-stats" ng-click="chartToggle()" style="cursor: pointer;" ng-hide="chart"></span>
			</div>
			<table class="table" ng-hide="chart">
				<thead>
					<tr>
						<td>Time</td>
						<td>Reading (Gal)</td>
						<td>Daily Usage (Gal)</td>
						<td>Daily Cost</td>
						<td>Monthly Cost</td>
						<td>% Change</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="reading in processedReadings">
						<td>{{reading.createdAt}}</td>
						<td>{{reading.measured}}</td>
						<td>{{reading.dailyUse}}</td>
						<td>{{reading.dailyCost}}</td>
						<td>{{reading.monthlyCost}}</td>
						<td ng-style="set_color(reading)"><span ng-if="reading.changeDirection == 'up'" class="glyphicon glyphicon-arrow-up"></span><span ng-if="reading.changeDirection == 'down'" class="glyphicon glyphicon-arrow-down"></span> {{reading.change}}</td>
					</tr>
				</tbody>
			</table>
			<div class="dash-item dash-full">
				<!--<p style="font-size:.8em;">kWh per day</p>
				<canvas id="bar" class="chart chart-bar" data="data" labels="labels" options="options"></canvas>-->
			</div>
		</div>
	</div>
</div>



